extends layout

block content
    
    main

        header

            h1 Songs With Sam
            p Search for a Track on spotify and play it to me via my pi
            hr

        section.search
            h2 Spotify Search
            input(type="text" name="search" class="search-input" placeholder="Search")
            button.search-btn Search

            .results
                ul
            hr

        section.pi
            button.send-track Send Track
