extends layout

block content

    main

        section.search

            p
                | You can play songs from here directly to my Raspberry Pi Spotify player. Go ahead, send me a track and let me know who you are on
                |  <a href="http://twitter.com/sam_billingham">twitter</a>.
                | Some of my favorites are listed below. Listen for yourself by clicking on the album cover and heading over to spotify.
            input(type="text" name="search" class="search-input" placeholder="Search Spotify for something I might like")
            button.search-btn Search

            .results
                ul
                    li(class="track")
                        span(class="send-track" data-track-uri="spotify:track:0SwUDplbBp66rM5sMC0eD7")
                        span(class="track-info") Comin' Home - City and Colour
                    li(class="track")
                        span(class="send-track" data-track-uri="spotify:track:2pxDPOhGfJyWSpDGQCZMmr")
                        span(class="track-info") Anthology - Thrice
                    li(class="track")
                        span(class="send-track" data-track-uri="spotify:track:5l6tv2lFylSdCgkWyfHC0P")
                        span(class="track-info") Sierra Leone - Mt. Eden
                    li(class="track")
                        span(class="send-track" data-track-uri="spotify:track:5XwTxxsP53MiA4JqJ73b2u")
                        span(class="track-info") Terrible! How Terrible For The Great City! - As Cities Burn
                    li(class="track")
                        span(class="send-track" data-track-uri="spotify:track:1nPG3zzQuuytJdIX7PJzkr")
                        span(class="track-info") Side Walk When She Walks - Alexisonfire

        section#what-is-this.what

            .what-details
                h2 Whats going on here?
                p I made a little PI music Player that plays tracks using Spotify. You can play me a track using the search above and it will blast out of the Raspberry Pi sitting on my desk. The Search uses the Spotify metadata API and is about as simple as it gets, dont hate.
                h2 Why can't I hear anything?
                p Might seem a bit odd but you're playing songs for me, jump over to spotify by clicking the ablum and listening along.
