extends layout

block content
    
    main

        section.search
            h2 Spotify Search
            input(type="text" name="search" class="search-input" placeholder="Search")
            button.search-btn Search

            .results
                ul
            hr