
script(src="/socket.io/socket.io.js")

if env === 'development'
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type='text/javascript').
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src="js/vendor/jquery.transit.min.js")
    script(src='js/main.js')
else
    script(src="js/dist/main.min.js")

script(type="text/javascript").
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35397516-7', 'sambillingham.com');
    ga('send', 'pageview');

footer
    p
        | A thing made by
        |  <a href="http://twitter.com/sam_billingham">Sam Billingham</a>