header

    .help
        span
            a(href="#what-is-this" class="scroll icon") i
        h1 Songs with Sam

    .pi-status

    .album
        a(href="#" target="_blank" class="track-link")
            img(src="/img/album-placeholder.png" class="album-artwork")

    .track-lead
        span Currently Playing

    .track-details
        span -